{% extends 'portfolio/base.html' %}

{% load static %}

{% block content %}

<div class="contact-card card bg-dark text-black">
  <img src="{% static 'portfolio/contacts.jpg' %}" class="card-img">
  <div class="card-img-overlay">
    <h3 class="card-title">Artem Tokar</h3>
    <br>
    <h4 class="card-text"><img class="icon" src="{% static 'portfolio/phone.png' %}"> +34 674 93 06 46</h4>
    <br>
    <h4 class="card-text"><img class="icon" src="{% static 'portfolio/email.png' %}"> artem.tokar13@gmail.com</h4>
    <br>
    <h4 class="card-text"><img class="icon" src="{% static 'portfolio/telegram.png' %}"> @artem_tokar</h4>
  </div>
</div>

{% endblock %}